@model IEnumerable<tkytekstil.ENGINE.Dtos.OrderData.OrderDto>

@{
    ViewData["Title"] = "siparislerim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Müşteri</th>
                                <th>Email</th>
                                <th>Adet</th>
                                <th>Kayıt Tarihi</th>
                                <th>Durum</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                            @foreach (var item in Model.Where(x => x.IsDone == true).ToList())
                            {

                            <tr>
                                <th scope="row"><a href="@Url.Action("siparisUrunleri","siparis", new { Id = item.ID })">@item.OrderNo</a></th>
                                <td>@item.shopper.CompanyName</td>
                                <td>@item.shopper.ShopperEmail</td>
                                <td>@item.Quantity</td>
                                <td>@item.CreatedTime.ToString("dd MMMM yyyy - HH:mm")</td>

                                @if (item.IsActive == true)
                                {
                                    <td><span class="text-success" style="font-weight:bold;">Aktif</span></td>
                                }

                                else
                                {
                                    <td><span class="text-danger" style="font-weight:bold;">Pasif</span></td>
                                }

                            </tr>

                            }

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>




