@using tkytekstil.Models
@using tkytekstil.ENGINE.Dtos.ShoppersData
@using tkytekstil.Core
@using System.Security.Claims

@{
    MetaViewModel meta = new MetaViewModel();
    var isAuthenticated = User.Identity.IsAuthenticated;
    //ShoppersDto shopper = SessionExtensionMethod.GetObject<ShoppersDto>(Context.Session, "account") as ShoppersDto;
    List<CartItems> cartItems = ViewBag.Cart as List<CartItems>;

    int footerHave = Convert.ToInt32(TempData["FooterHave"]);

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @meta.Title
    </title>
    <meta name="description" content="@meta.Description">
    <meta name="keywords" content="@meta.Keywords">
    <meta name="rating" content="general">
    <meta name="abstract" content="security">
    <meta name="robots" content="all">
    <meta name="googlebot" content="Index, Follow">
    <meta name="robots" content="Index, Follow">
    <meta name="distribution" content="global">
    <meta name="application-name" content="tkytekstil">

    <meta property="og:type" content="website" />
    <meta property="og:locale" content="tr_TR" />
    <meta property="og:site_name" content="Tekay Tekstil" />
    <meta property="og:title" content="@meta.Title" />
    <meta property="og:description" content="@meta.ogDescription" />
    <meta property="og:image" content="@meta.ogImage" />
    <meta property="og:url" content="@meta.Url" />

    <link rel="stylesheet" href="~/assets/css/vendor/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/pe-icon-7-stroke.min.css">

    <link rel="stylesheet" href="~/assets/css/plugins/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/assets/css/plugins/animate.min.css" />
    <link rel="stylesheet" href="~/assets/css/plugins/aos.min.css" />
    <link rel="stylesheet" href="~/assets/css/plugins/nice-select.min.css" />
    <link rel="stylesheet" href="~/assets/css/plugins/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/assets/css/plugins/lightgallery.min.css" />

    <link rel="stylesheet" href="~/assets/css/style.css" />

</head>
<body>

    @if (footerHave == 0)
    {

    }
    else
    {
        <div class="header section">

            <!-- Header Top Start -->
            <div class="header-top bg-light">
                <div class="container">
                    <div class="row row-cols-xl-2 align-items-center">

                        <!-- Header Top Language, Currency & Link Start -->
                        <div class="col d-none d-lg-block">
                            <div class="header-top-lan-curr-link">

                                <div class="header-top-links">
                                    <span><i class="fa fa-whatsapp"></i></span><a href="#"> +90 538 282 11 15</a>
                                </div>
                            </div>
                        </div>
                        <!-- Header Top Language, Currency & Link End -->
                        <!-- Header Top Message Start -->
                        <div class="col">
                            <p class="header-top-message"><a href="@Url.Action("urunlerimiz","anasayfa")">Şimdi Alışveriş Yap</a></p>
                        </div>
                        <!-- Header Top Message End -->

                    </div>
                </div>
            </div>
            <!-- Header Top End -->
            <!-- Header Bottom Start -->
            <div class="header-bottom">
                <div class="header-sticky">
                    <div class="container">
                        <div class="row align-items-center">

                            <!-- Header Logo Start -->
                            <div class="col-xl-2 col-6">
                                <div class="header-logo">
                                    <a href="@Url.Action("sayfa","anasayfa")"><img style="height:55px;" src="~/assets/images/tkylogo.png" alt="Site Logo" /></a>
                                </div>
                            </div>
                            <!-- Header Logo End -->
                            <!-- Header Menu Start -->
                            <div class="col-xl-5 d-none d-xl-block">
                                <div class="main-menu position-relative">
                                    <ul>
                                        <li class="has-children">
                                            <a href="@Url.Action("sayfa","anasayfa")"><span>Ana Sayfa</span></a>
                                        </li>
                                        <li class="has-children">
                                            <a href="@Url.Action("urunlerimiz","anasayfa")"><span>Ürünlerimiz</span></a>
                                        </li>
                                        <li class="has-children">
                                            <a href="/iletisim"><span>İletişim</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Header Menu End -->
                            <!-- Header Action Start -->
                            <div class="col-xl-5 col-6">
                                <div class="header-actions">

                                    <a href="javascript:void(0)" class="header-action-btn header-action-btn-search"><i class="pe-7s-search"></i></a>

                                    <a href="javascript:void(0)" class="header-action-btn header-action-btn-cart">
                                        <i class="pe-7s-shopbag"></i>
                                        @if (cartItems == null)
                                        {
                                            <span class="header-action-num">0</span>
                                        }
                                        else
                                        {
                                            <span class="header-action-num">@cartItems.Count</span>
                                        }
                                    </a>

                                    @if (isAuthenticated)
                                    {
                                        <a href="@Url.Action("favorilerim", "bayi", new { Id = Convert.ToInt32(User.FindFirst(ClaimTypes.NameIdentifier).Value) })" class="header-action-btn header-action-btn-wishlist d-none d-md-block">
                                            <i class="pe-7s-like"></i>
                                        </a>
                                        <a href="@Url.Action("hesabim", "bayi", new { Id = Convert.ToInt32(User.FindFirst(ClaimTypes.NameIdentifier).Value) })" class="header-action-btn d-none d-md-block text-success"><i class="pe-7s-user"></i> @User.Identity.Name</a>
                                        <a href="@Url.Action("cikisyap", "bayi")" class="header-action-btn d-none d-md-block"><img src="https://uploads.tkytekstil.com/images/quit.svg" width="20" /></a>
                                    }

                                    else
                                    {
                                        <a href="/girisyap" class="header-action-btn d-none d-md-block"><i class="pe-7s-user"></i></a>
                                    }

                                    <a href="javascript:void(0)" class="header-action-btn header-action-btn-menu d-xl-none d-lg-block">
                                        <i class="fa fa-bars"></i>
                                    </a>

                                </div>
                            </div>
                            <!-- Header Action End -->

                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Bottom End -->
            <!-- Mobile Menu Start -->
            <div class="mobile-menu-wrapper">
                <div class="offcanvas-overlay"></div>

                <!-- Mobile Menu Inner Start -->
                <div class="mobile-menu-inner">

                    <!-- Button Close Start -->
                    <div class="offcanvas-btn-close">
                        <i class="pe-7s-close"></i>
                    </div>
                    <!-- Button Close End -->
                    <!-- Mobile Menu Start -->
                    <div class="mobile-navigation">
                        <nav>
                            <ul class="mobile-menu">
                                <li class="has-children">
                                    <a href="@Url.Action("sayfa","anasayfa")"><span>Ana Sayfa</span></a>
                                </li>
                                <li class="has-children">
                                    <a href="@Url.Action("urunlerimiz","anasayfa")"><span>Ürünlerimiz</span></a>
                                </li>
                                <li class="has-children">
                                    <a href="/iletisim"><span>İletişim</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Mobile Menu End -->
                    <!-- Language, Currency & Link Start -->
                    <!-- Language, Currency & Link End -->
                    <!-- Contact Links/Social Links Start -->
                    <div class="mt-auto">

                        <!-- Contact Links Start -->
                        <ul class="contact-links">
                            <li><i class="fa fa-phone"></i><a href="#">+90 538 282 11 15</a></li>
                            <li><i class="fa fa-envelope-o"></i><a href="#"> siparis@tkytekstil.com</a></li>
                        </ul>
                        <!-- Contact Links End -->
                        <!-- Social Widget Start -->
                        <div class="widget-social">
                            <a title="Facebook" href="#"><i class="fa fa-facebook-f"></i></a>
                            <a title="Twitter" href="#"><i class="fa fa-twitter"></i></a>
                            <a title="Instagram" href="#"><i class="fa fa-instagram"></i></a>
                            <a title="Youtube" href="#"><i class="fa fa-youtube"></i></a>
                        </div>
                        <!-- Social Widget Ende -->
                    </div>
                    <!-- Contact Links/Social Links End -->
                </div>
                <!-- Mobile Menu Inner End -->
            </div>
            <!-- Mobile Menu End -->
            <!-- Offcanvas Search Start -->
            <div class="offcanvas-search">
                <div class="offcanvas-search-inner">

                    <!-- Button Close Start -->
                    <div class="offcanvas-btn-close">
                        <i class="pe-7s-close"></i>
                    </div>
                    <!-- Button Close End -->
                    <!-- Offcanvas Search Form Start -->
                    <form class="offcanvas-search-form" method="get" asp-controller="anasayfa" asp-action="urunlerimiz">
                        <input type="text" placeholder="Ürünlerimizden arayın..." name="searchstring" class="offcanvas-search-input">
                    </form>
                    <!-- Offcanvas Search Form End -->

                </div>
            </div>

            <div class="cart-offcanvas-wrapper">
                <div class="offcanvas-overlay"></div>

                <!-- Cart Offcanvas Inner Start -->
                <div class="cart-offcanvas-inner">

                    <!-- Button Close Start -->
                    <div class="offcanvas-btn-close">
                        <i class="pe-7s-close"></i>
                    </div>
                    <!-- Button Close End -->
                    <div class="offcanvas-cart-content">

                        <h2 class="offcanvas-cart-title mb-10"><i class="fa fa-shopping-cart"></i>  Sepet</h2>

                        @if (cartItems != null)
                        {
                            foreach (var item in cartItems)
                            {
                                <div class="cart-product-wrapper mb-6">
                                    <!-- Single Cart Product Start -->
                                    <div class="single-cart-product">
                                        <div class="cart-product-thumb">
                                            <a href="@Url.Action("detay","urun", new { Id = item.products.ID })"><img src="https://uploads.tkytekstil.com/img/@item.Image" alt="@item.products.ProductName"></a>
                                        </div>
                                        <div class="cart-product-content">
                                            <h3 class="title"><a href="@Url.Action("detay","urun", new { Id = item.products.ID })">@item.products.ProductName</a></h3>
                                            <span class="price">
                                                <span class="new">Adet: @item.Quantity</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="cart-product-remove">
                                        <a href="@Url.Action("remove","urun", new { Id = item.products.ID })"><i class="fa fa-trash"></i></a>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="cart-product-wrapper mb-6">
                                <div class="single-cart-product">
                                    <div class="cart-product-content">
                                        <h3 class="title">Sepetinizde ürün bulunmuyor!</h3>
                                    </div>
                                </div>
                            </div>
                        }

                        @if (cartItems != null)
                        {
                            <div class="cart-product-btn mt-4">
                                <a href="/sepet" class="btn btn-dark btn-hover-primary rounded-0 w-100">Sepeti Gör</a>
                                <a href="/siparis" class="btn btn-dark btn-hover-primary rounded-0 w-100 mt-4">Ödeme Yap</a>
                            </div>
                        }

                    </div>

                </div>
            </div>

        </div>
    }



    @RenderBody()

    <footer class="section footer-section">
        <!-- Footer Top Start -->
        <div class="footer-top section-padding">
            <div class="container">
                <div class="row mb-n10">
                    <div class="col-12 col-sm-3 col-lg-3 col-xl-3 mb-10" data-aos="fade-up" data-aos-delay="200">
                        <div class="single-footer-widget">
                            <h2 class="widget-title">Hızlı Menü</h2>
                            <ul class="widget-list">
                                <li><a href="@Url.Action("sayfa","anasayfa")">Ana Sayfa</a></li>
                                <li><a href="@Url.Action("urunlerimiz","anasayfa")">Ürünler</a></li>
                                <li><a href="/iletisim">İletişim</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-3 col-lg-3 col-xl-3 mb-10" data-aos="fade-up" data-aos-delay="300">
                        <div class="single-footer-widget aos-init aos-animate">
                            <h2 class="widget-title">Hesabım</h2>
                            <ul class="widget-list">
                                @if (isAuthenticated)
                                {
                                    <li><a href="@Url.Action("favorilerim", "bayi", new { Id = Convert.ToInt32(User.FindFirst(ClaimTypes.NameIdentifier).Value) })">Favoriler</a></li>
                                    <li><a href="@Url.Action("hesabim", "bayi", new { Id = Convert.ToInt32(User.FindFirst(ClaimTypes.NameIdentifier).Value) })">Hesabım</a></li>
                                    <li><a href="@Url.Action("siparislerim", "bayi", new { Id = Convert.ToInt32(User.FindFirst(ClaimTypes.NameIdentifier).Value) })">Siparişlerim</a></li>
                                }
                                else
                                {
                                    <li><a href="/favorilerim">Favoriler</a></li>
                                    <li><a href="/hesabim">Hesabım</a></li>
                                    <li><a href="/siparislerim">Siparişlerim</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-3 col-lg-3 col-xl-3 mb-10" data-aos="fade-up" data-aos-delay="400">
                        <div class="single-footer-widget aos-init aos-animate">
                            <h2 class="widget-title">Sözleşme</h2>
                            <ul class="widget-list">
                                <li><a href="/gizlilik">Gizlilik Politikası</a></li>
                                <li><a href="/mesafelisatis">Satış Sözleşmesi</a></li>
                                <li><a href="/teslimatveiade">İade Politikası</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-12 col-sm-3 col-lg-3 col-xl-3 mb-10" data-aos="fade-up" data-aos-delay="500">
                        <div class="single-footer-widget">
                            <h2 class="widget-title">Bize Ulaş</h2>
                            <!-- Contact Address Start -->
                            <ul class="widget-address">
                                <li><i class="fa fa-whatsapp"></i> <a href="#">+90 538 282 11 15</a></li>
                                <li><i class="fa fa-envelope"></i> <a href="#">siparis@tkytekstil.com</a></li>
                                <li style="margin-top: 15px;"><img style="width:50px;" src="/assets/images/logo/mastercard.png"><img style="width: 80px;margin-left: 15px;" src="/assets/images/logo/visa.png"></li>
                                <li style="margin-top: 10px;"><img style="width: 180px;" src="/assets/images/logo/iyzico.svg"></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Top End -->
        <!-- Footer Bottom Start -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 text-center">
                        <div class="copyright-content">
                            <p class="mb-0">2022 <strong>Tekay Tekstil</strong> <i class="fa fa-copyright text-danger"></i> <a href="https://hasthemes.com/">İkifikir İletişim</a> tarafından geliştirildi </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom End -->
    </footer>
    <!-- Footer Section End -->
    <!-- Scroll Top Start -->
    <a href="#" class="scroll-top" id="scroll-top">
        <i class="arrow-top fa fa-long-arrow-up"></i>
        <i class="arrow-bottom fa fa-long-arrow-up"></i>
    </a>

    <script src="~/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="~/assets/js/vendor/modernizr-3.11.2.min.js"></script>

    <script src="~/assets/js/plugins/aos.min.js"></script>
    <script src="~/assets/js/plugins/countdown.min.js"></script>
    <script src="~/assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="~/assets/js/plugins/nice-select.min.js"></script>
    <script src="~/assets/js/plugins/jquery.ajaxchimp.min.js"></script>
    <script src="~/assets/js/plugins/jquery-ui.min.js"></script>
    <script src="~/assets/js/plugins/lightgallery-all.min.js"></script>
    <script src="~/assets/js/plugins/thia-sticky-sidebar.min.js"></script>

    <script src="~/assets/js/main.js"></script>

</body>
</html>
