@model tkytekstil.ENGINE.Dtos.ProductData.ProductDto

@{
    ViewData["Title"] = "urunekle";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<form method="post" action="@Url.Action("urunkayityap","urun")" enctype="multipart/form-data" novalidate="" class="needs-validation">
<div class="row">
    <div class="col-xl-8">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Dosya Gezgini</h4>
                                <p class="card-title-desc">Ürününüz için bir fotoğrafı <em>Seçin…</em> ve diğer form bilgilerini doldurup formu gönderin.</p>
                                <div class="input-group">
                                    <input type="file" name="file" class="form-control" id="customFile">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="validationCustom01" class="form-label">Ürün Adı</label>
                            @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control", id = "validationCustom01", placeholder = "Ürün adınızı giriniz", @required = "" })
                           
                        </div>
                    </div>    
                </div> 
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="validationCustom02" class="form-label">Spot</label>
                            @Html.TextBoxFor(x => x.ProductSpot, new { @class = "form-control", id = "validationCustom02", placeholder = "Spot giriniz", @required = "" })
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end card -->
    </div>
    <div class="col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <img id="img" style="width:100%" src="~/assets/images/img-2.jpg" />
                        </div>
                    </div>
                </div>
                <div class="row">
                     <div class="col-md-6">
                        <div class="mb-3">
                            <label for="validationCustom02" class="form-label">Fiyat</label>
                            @Html.TextBoxFor(x => x.Price, new { @class = "form-control", id = "validationCustom02", placeholder = "Fiyat giriniz", @required = "" })
                          
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="validationCustom02" class="form-label">Adet</label>
                            @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control", id = "validationCustom02", placeholder = "Adet giriniz", @required = "" })
                          
                        </div>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="validationCustom01" class="form-label">Kategori</label>
                            @Html.DropDownListFor(x => x.CategoryId, (SelectList)ViewBag.Category, "Kategori Seçiniz", new { @class = "form-select", id = "validationCustom03", @required = "" })
                           
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="validationCustom01" class="form-label">Marka</label>
                            @Html.DropDownListFor(x => x.BrandId, (SelectList)ViewBag.Brands, "Marka Seçiniz", new { @class = "form-select", id = "validationCustom03", @required = "" })
                          
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">Ürün Oluştur</button>
                </div>
            </div>
        </div>
    </div>
</div>

</form>

<script src="~/assets/libs/jquery/jquery.min.js"></script>

<script type="text/javascript">
    $(function () {
        $('#customFile').change(function () {
            var input = this;
            var url = $(this).val();
            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
            if (input.files && input.files[0] && (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                $('#img').attr('src', '~/assets/images/img-2.jpg');
            }
        });

    });
</script>